# Heroes of Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [3]:
# Player Count

Tot_players = (len(purchase_data["SN"].unique()))
Tot_players_df = pd.DataFrame({"Total Players": [Tot_players]})
Tot_players_df

   Total Players
0            576

In [4]:
Tot_players

576

# Purchasing Analysis (Total)
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue

In [5]:
Number_Items = (len(purchase_data["Item ID"].unique()))

Av_pricef = purchase_data["Price"].mean()
Av_price = ("$" + str(format(Av_pricef,'.2f')))

Tot_purchase = len(purchase_data["Purchase ID"])

Tot_rev = (purchase_data["Price"].sum())
Tot_rev = ("$" + str(format(Tot_rev, ',.2f')))

In [6]:
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [Number_Items],
                                      "Average Purchase Price": [Av_price],
                                      "Total Number of Purchases": [Tot_purchase],
                                      "Total Revenue": [Tot_rev]
                                      })
Purchasing_Analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

In [7]:
duplicates = purchase_data.drop_duplicates("SN")
duplicates.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
Duplicates_df = duplicates["Gender"].value_counts()
Duplicates_df = pd.DataFrame(Duplicates_df)
Genders = Duplicates_df.values.flatten()

# Gender Demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

In [10]:
Male = (Duplicates_df.iloc[0,0]/Tot_players)
Male = format(Male, '.2%')

Female = (Duplicates_df.iloc[1,0]/Tot_players)
Female = format(Female, '.2%')

Other = (Duplicates_df.iloc[2,0]/Tot_players)
Other = format(Other, '.2%')

Gender_percent = pd.DataFrame({"Percentages of Players":[Male, Female, Other],})
Percent = Gender_percent.values.flatten()

In [11]:
dic = ({
    "Total Count": Genders,
    "Percent of Players": Percent
})

dic

dic_df = pd.DataFrame(dic, index = ["Male","Female","Other"])
dic_df

        Total Count Percent of Players
Male            484             84.03%
Female           81             14.06%
Other            11              1.91%

# Purchasing Analysis (Gender)
    # Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
    # Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
    # Display the summary data frame

In [13]:
#Grouping the data by Gender
Gen_stats = purchase_data.groupby("Gender")

Gen_Tot = purchase_data["Gender"].value_counts()
Gen_avg = Gen_stats["Price"].mean()
Gen_sum = Gen_stats["Price"].sum()
Gen_per = Gen_sum / Gen_Tot

# Purchasing Analysis DataFrame
Gen_df = pd.DataFrame({"Purchase Count": Gen_Tot,
                     "Average Purchase Price": Gen_avg,
                     "Total Purchase Value": Gen_sum,
                     "Avg total Purchase per person": Gen_per
                      })
Gen_df.style.format({"Average Purchase Price":"${:.2f}",
                    "Total Purchase Value":"${:.2f}",
                    "Avg total Purchase per person":"${:.2f}"})

# Age Demographics
    # The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    # Purchase Count
    # Average Purchase Price
    # Total Purchase Value
    # Average Purchase Total per Person by Age Group

In [15]:
# Setting up bins
bins = [0, 9.90, 14.99, 19.90, 24.90, 29.90, 34.90, 39.90, 9999  ]
bin_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = bin_name)


Age_count = purchase_data.groupby("Age Group")

SN_count = Age_count["SN"].nunique()
Tot_count = Age_count["Purchase ID"].nunique()
Age_percent = (Tot_count/Tot_players) * 100
Price_age = Age_count["Price"].sum()
Avg_ageprice = (Price_age/Tot_count)
Avg_Total_Person = (Price_age/SN_count)



Age_df = pd.DataFrame({"Total Count": Tot_count,
                       "Percentage of Players": Age_percent,
                      "Total Purchase Value": Price_age,
                      "Average Purchase Price": Avg_ageprice,
                      "Average Purchase Total per Person by Age Group": Avg_Total_Person})

Age_df.style.format({"Percentage of Players": "{:.2f}%",
                    "Total Purchase Value":"${:.2f}",
                    "Average Purchase Price": "${:.2f}",
                    "Average Purchase Total per Person by Age Group":"${:.2f}"})

# Top Spenders
    # Run basic calculations to obtain the results in the table below
    # Create a summary data frame to hold the results
    # Sort the total purchase value column in descending order
    # Optional: give the displayed data cleaner formatting
    # Display a preview of the summary data frame

In [17]:
# Group data by SN
spenders = purchase_data.groupby("SN")

pur_count = spenders["Purchase ID"].count()
pur_avg = spenders["Price"].mean()
pur_Tot = spenders["Price"].sum()

Purchase_df = pd.DataFrame({"Purchase Count": pur_count,
                           "Average Purchase Price": pur_avg,
                           "Total Purchase Price": pur_Tot})


high_spenders = Purchase_df.sort_values(["Total Purchase Price"], ascending=False).head(5)
high_spenders_top = high_spenders.style.format({"Average Purchase Price":"${:.2f}",
                           "Total Purchase Price":"${:.2f}"
                           })
high_spenders_top

# Most Popular Items
    # Identify the 5 most popular items by purchase count, then list (in a table):
    # Item ID
    # Item Name
    # Purchase Count
    # Item Price
    # Total Purchase Value

In [19]:
Popular = purchase_data[["Item ID","Item Name","Price"]]

Popular_Item = Popular.groupby(["Item ID","Item Name"])

Best_Item = Popular_Item["Price"].count()
Purch_count = Popular_Item["Price"].sum()
Item_Price = Purch_count/Best_Item

Popular_Item_df = pd.DataFrame({"Purchase Count": Best_Item,
                              "Item Price": Item_Price,
                              "Total Purchase Value": Purch_count})

Popular_top = Popular_Item_df.sort_values(["Purchase Count"], ascending=False).head(5)

Popular_top = Popular_top.style.format({"Item Price": "${:.2f}",
                              "Total Purchase Value": "${:.2f}"})

Popular_top

# Most Profitable Items
    # Identify the 5 most profitable items by total purchase value, then list (in a table):
    # Item ID
    # Item Name
    # Purchase Count
    # Item Price
    # Total Purchase Value

In [21]:
Best_Item = Popular_Item["Price"].count()
Purch_count = Popular_Item["Price"].sum()
Item_Price = Purch_count/Best_Item

Popular_Item_df = pd.DataFrame({"Purchase Count": Best_Item,
                              "Item Price": Item_Price,
                              "Total Purchase Value": Purch_count})

Popular_top = Popular_Item_df.sort_values(["Total Purchase Value"], ascending=False).head(5)

Popular_top = Popular_top.style.format({"Item Price": "${:.2f}",
                              "Total Purchase Value": "${:.2f}"})

Popular_top